*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    text-align: justify;
    
    }

    .coffee ul {
        overflow: auto;
    }

    .coffee {
           
        background-color: chocolate;
        margin: 0px;
        padding: 2px 3px;
        border-radius: 30px;
        /* float:right; */
        /* width: 255px; */
    }
    .coffee li {
        float: left;
        list-style: none;
        margin: 5px 5px;
        padding-top: 10px;
        
    }

    .coffee li a {
        padding: 3px 3px;
        text-decoration: none;
        color: cyan;

    }

    .coffee li a:hover {
        color: khaki;
    }

    .search {
        float: right;
        padding: 3px 2px;
    }

    .coffee input {
        border: 2px solid black;
        border-radius: 10px;
        padding: 3px 3px;
        margin: 5px 33px;
        width: 250px;
    }
    #index{
        /* position: fixed; */
        left:5px;
        top:50px;
        margin: 0px;
        /* border: rgb(245, 241, 240) 3px solid; */
        padding: 5px 5px;
        float: left;    
    }
    h3{
       
        font-weight: bold;
        }

    #brewing{
        
        left:0px;
        top:0px;
        margin: 0px;
        border: rgb(39, 14, 4) 3px solid;
        float: left;
          
    }
    .water {
    
        position:absolute;
        width: 80%;
        margin:7px 5px;
        z-index:1;
        left:15px;
    }
    .time {
    
        width: 80%;
        position:absolute;
        z-index:1;
        top:400px;
        left:15px;
    }